{% extends "layout.html" %}
{% block title %}Diseases{% endblock %}
{% block content %}
{% if islogged %}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered"> 
      <div class="column is-4 is-offset-4">
        <h1 class="title">Diseases</h1>
        <div class="box">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <tr>
            <th>Name:</th>
            <td>{{values[1] }}</td>
          </tr>
          <tr>
            <th>Risk level:</th>
            <td>{{ values[2] }}</td>
          </tr>
          <tr>
            <th>Period:</th>
            <td>{{ values[3] }}</td>
          </tr>
   
        </table>
        </div>
  
        <div class="field is-grouped">
          <div class="control">
            <a class="button is-medium"
               href="{{ request.path }}/edit">Edit</a>
          </div>
        </div>
    
        {% endif %}
           
      </div>
   </div>
  </div>
</section>
{% endblock %}