{% extends "layout.html" %}
{% block title %}Add disease {% endblock %}
{% block content %}

  <h1 class="title">
    <span class="icon is-small">
      <i class="fas fa-virus" aria-hidden="true"></i>
    </span>
    Add Disease / Periodic Activity
  </h1>
  <div class="box">
    <form action="" method="post" name="nurse_edit">
      <div class="field">
        <label for="name" class="label">   Name   </label>
        <div class="control">
          <input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="risklevel" class="label">   Risk Level (0-5) </label>
        <div class="control">
          <input type="number" name="risklevel" class="input" min=0 max=5
                  required="required" value="{{ values['risklevel'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="period" class="label"> Select Period </label>
        <div class="control">
          <input type="number" name="periodnumber" class="input" min=0 required="required" value="{{ values['periodnumber'] }}"/> 
        </div>
      </div>

      <div class="field">
        <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>
        <div class="control">
          <div class = "select">
            <select id="period" name="period" >
              <option value="day">day</option>
              <option value="week">week</option>
              <option value="month">month</option> 
              <option value="year">year</option>
            </select>
          </div>
   
        </div>


      </div> 
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-light is-medium">  Save  </button>
        </div>
      </div>
   </form>
  </div>

  {% endblock %}
