{% extends "layout.html" %}
{% block title %}Filter{% endblock %}
{% block content %}
{% if islogged %}
    <h1 class="title">Filter by Disease</h1>
    <div class="box">
        <form action="" method="post" name="filter">
            <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>
            <div class="field">
                <label for="disease_filter_id" class="label"> Select Disease  </label>
                <div class="control">
                    <div class = "select">
                    <select id="filter_disease" name="diseaseid">
                        <option value="{{default}}" >  
                            Select a Disease 
                          </option> 
                        {% for disease in diseases %}
                        <option value="{{disease[0]}}"> 
                        {{disease[1]}}
                        </option>
                        {% endfor %}
                    </select>
                    </div>
            
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-light is-medium">  Filter  </button>
                </div>
              </div>
        </form>
    </div>
    {% if residents%}
    <div class="box">
            <h1 class="subtitle">Residents with the " {{diseasename[0]}} "</h1>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                {% for resident in residents %}
                <tr> 
            
                <td> {{resident[1] }}</td> 
            
                </tr>
                {% endfor %}
              </table>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}