{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">DISEASE and TREATMENT MONITORING SYSTEM</h1>
          <p class="subtitle">{{ date }} - Welcome to Nursing Home!</p>
          {% if current_user.is_authenticated %}
          <p class="subtitle"> Have a nice day Dr. {{ current_user.name }}! </p>
          {% endif %}
        
        </div>
      </div>
    </section>
{% endblock %}