{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}

  <h1 class="title">DISEASE and TREATMENT MONITORING SYSTEM</h1>
          <p class="subtitle">{{ date }}</p>
          <p class = "subtitle">Welcome!</p>
          {% if islogged %}
          <p class = "subtitle">   
            <span class="icon is-small">
            <i class="fas fa-user-md" aria-hidden="true"></i>
          </span>
          {{ name }}</p>
          {% endif %}
          {% if not islogged %}
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img class="is-rounded" src="../static/itu.jpg" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Ayse Betul Cetin</strong> <small>150180730</small> 
                    <br>
                    This project was prepared within the scope of BLG317E- Database Systems course. 
                    <br>The aim of the project is to benefit digitalization of follow-up in institutions such as nursing homes where the elderly stay and their health is monitored.
                    <br> <br> Sign up to create your own system.
                    <br> Log in if you have registered before.
                    <br> <br> 
                  </p>
                </div>
         
              </div>
            </article>
          </div>
          {% endif %}
          {% if islogged %}
          <h1 class="title">Home Information</h1>
    <div class="columns">
        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Residents</strong> 
                    <br>
                  </p>
                  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    {% for resident in residents %}
                    <tr> 
                    <td> {{resident[0]}} </td> 
                     </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Nurses </strong> 
                        <br>
                      
                      </p>
                      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        {% for nurse in nurses %}
                        <tr> 
                        <td> {{nurse[0]}} </td> 
                         </tr>
                        {% endfor %}
                      </table>
                    </div>
                    
                  </div>
                </article>
              </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Diseases</strong> 
                        <br>
                       
                      </p>
                      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        {% for disease in diseases %}
                        <tr> 
                        <td> {{disease[0]}} </td> 
                         </tr>
                        {% endfor %}
                      </table>
                    </div>
           
                  </div>
                </article>
              </div>
        </div>

    </div>
    {% endif %}
       

          
             
{% endblock %}