<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='nursingHome.css') }}"/>
  </head>
  <body>
    <header>
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <span class="navbar-item">
            <a class="button is-success" href="{{ url_for('home') }}">Home</a>
          </span>
          <span class="navbar-item">
            {% if not current_user.is_authenticated %}
              <a class="button is-success" href="{{ url_for('login_page') }}">Log in</a>
            {% endif %}
            
            </span>
            {% if current_user.is_admin %}
          <span class="navbar-item">
            <a class="button is-dark" href="{{ url_for('diseases_page') }}">List Diseases</a>
          </span>
        
          <span class="navbar-item">
            <a class="button is-dark" href="{{ url_for('disease_add_page') }}">Add Disease</a>
          </span>

          <span class="navbar-item">
            <a class="button is-dark" href="{{ url_for('residents_page') }}">List Residents</a>
          </span>
          <span class="navbar-item">
            <a class="button is-dark" href="{{ url_for('resident_add_page') }}">Add Resident</a>
          </span>
          <span class="navbar-item">
            <a class="button is-dark" href="{{ url_for('nurses_page') }}">List Nurses</a>
          </span>
          <span class="navbar-item">
            <a class="button is-dark" href="{{ url_for('nurse_add_page') }}">Add Nurse</a>
          </span>
          <span class="navbar-item">
            <a class="button is-dark" href="{{ url_for('filter_page') }}">Filter</a>
          </span>
          {% endif %}
          <span class="navbar-item">
          {% if current_user.is_authenticated %}
              {{ current_user.username }}
              <a class="button is-danger" href="{{ url_for('logout_page') }}">Log out</a>
            {% endif %}
          </span>
        </div>
      </nav>
    </header>

    <main>
      {% for message in get_flashed_messages() %}
      <div class="notification is-info">{{ message }}</div>
      {% endfor %}
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2020, A.Betül Çetin </small>
      </div>
    </footer>
  </body>
</html>