<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='nursingHome.css') }}"/>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('home')}}">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('home') }}">Home</a>
        
            {% if current_user.is_admin %}
            <a class="navbar-item" href="{{ url_for('filter_page') }}">
              Filter
            </a>
            <a class="navbar-item" href="{{ url_for('review_page') }}">
              Review
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item"  href="{{ url_for('diseases_page') }}">
                  List Diseases
                </a>
                <a class="navbar-item" href="{{ url_for('disease_add_page') }}">
                  Add Disease
                </a>
                <a class="navbar-item"href="{{ url_for('residents_page') }}">
                  List Residents
                </a>
                <a class="navbar-item" href="{{ url_for('resident_add_page') }}">
                  Add Resident
                </a>
                <a class="navbar-item" href="{{ url_for('nurses_page') }}">
                  List Nurses
                </a>
                <a class="navbar-item" href="{{ url_for('nurse_add_page') }}">
                  Add Nurse
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Contact
                </a>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if not current_user.is_authenticated %}
                <a class="button is-primary"  href="{{ url_for('signup_page') }}">
                  <strong>Sign up</strong>
                </a>  
                <a class="button is-light" href="{{ url_for('login_page') }}">Log in</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                {{ current_user.username }}
                <a class="button is-light" href="{{ url_for('logout_page') }}">Log out</a>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {% for message in get_flashed_messages() %}
      <div class="notification is-info">{{ message }}</div>
      {% endfor %}
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2020, A.Betül Çetin </small>
      </div>
    </footer>
  </body>
</html>



