{% extends "layout.html" %}
{% block title %}Add Nurse{% endblock %}
{% block content %}
    <h1 class="title">Add nurse</h1>

    <form action="" method="post" name="nurse_edit">
      <div class="field">
        <label for="name" class="label">   Name   </label>
        <div class="control">
          <input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="capacity" class="label">   Capacity  </label>
        <div class="control">
          <input type="number" name="capacity" class="input"
                  required="required" value="{{ values['capacity'] }}"/>
        </div>
      </div>
      <div class="field">
        <label for="address" class="label">   Address   </label>
        <div class="control">
          <input type="text" name="address" class="input" required="required" value="{{ values['address'] }}"/>
        </div>
      </div>
      <div class="field">
        <label class="label">Type</label>
        <div class="control">
          <div class="select is-info">
            <select>
              <option>Full Time</option>
              <option>Part Time</option>
            </select>
          </div>
        </div>
    </div>
    <div class="field">
        <label for="tel" class="label">Tel</label>
        <div class="control">
        <input class="input" name="tel" type="tel" required="required" value="{{ values['tel'] }}" placeholder="e.g. (539) 937 55 09"/>
        </div>
    </div>
     

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-light is-small">  Save  </button>
        </div>
      </div>
    </form>
{% endblock %}