{% extends "layout.html" %}
{% block title %}Nurse{% endblock %}
{% block content %}
{% if islogged %}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">Nurse</h1>
          <div class=columns>
            <div class="column">
              <div class="box">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                  <tr>
                    <th>Name:</th>
                    <td>{{values[1] }}</td>
                  </tr>
                  <tr>
                    <th>Capacity:</th>
                    <td>{{ values[2] }}</td>
                  </tr>
                  <tr>
                    <th>Type:</th>
                    <td>{{ values[4] }}</td>
                  </tr>
                  <tr>
                    <th>Address:</th>
                    <td>{{ values[5] }}</td>
                  </tr>
                  <tr>
                    <th> Tel:</th>
                    <td>{{ values[6] }}</td>
                  </tr>
                </table>
                <div class="field is-grouped">
                  <div class="control">
                    <a class="button is-medium"
                      href="{{ request.path }}/edit">Edit</a>
                  </div>
                </div>
                </div>
            </div>

            <div class="column">
              {% if residents%}
              <div class="box">
                
                <h3 class="title">Assigned Residents: </h1>
                
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                  {% for name in residents %}
                  <tr>
                    <th>{{ name[0] }}</th>
                  </tr>
                  {% endfor %}    
                </table>
              </div>
              {% endif %}
            </div>
          </div>
  </div>
  </div>
</section>
{% endif %}
{% endblock %}