{% extends "layout.html" %}
{% block title %}Edit Nurse {% endblock %}
{% block content %}
  {% if islogged %}
  <h1 class="title">
    <span class="icon is-small">
      <i class="fas fa-edit" aria-hidden="true"></i>
    </span>
    Edit nurse
  </h1>
  <div class="box">
    <form action="" method="post" name="nurse_edit">
      <div class="field">
        <label for="name" class="label">   Name   </label>
        <div class="control">
          <input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="capacity" class="label">   Capacity  </label>
        <div class="control">
          <input type="number" name="capacity" class="input" min={{capacity[0]}}
                  required="required" value="{{ values['capacity'] }}"/>
        </div>
      </div>
      <div class="field">
        <label for="address" class="label">   Address   </label>
        <div class="control">
          <input type="text" name="address" class="input" required="required" value="{{ values['address'] }}"/>
        </div>
      </div>

   
     <div class="field">
      <label for="type" class="label">Type</label>
      <div class="control">
        <label class="radio">
          <input type="radio" type="text"  name="type" required="required" value="Full Time">
          Full Time
        </label>
        <label class="radio">
          <input type="radio" type="text"  name="type" required="required" value="Part Time">
          Part Time
        </label>
        <label class="radio">
          <input type="radio" type="text"  name="type" checked required="required" value="Other">
          Other
        </label>
       
       </div>
      </div>
     <div class="field">
        <label for="tel" class="label">Telephone number</label>
        <div class="control">
        <input class="input" name="tel" type="tel" required="required" maxlength = "11" minlength = "11" value="{{ values['tel'] }}" placeholder="e.g. 0 (539) 937 55 09"/>
        </div>
     </div>
     

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-light is-medium">  Save  </button>
        </div>
      </div>
   </form>
  </div>
  {% endif %}
  {% endblock %}
