
{% extends "layout.html" %}
{% block title %} Home Informations {% endblock %}
{% block content %}
    <h1 class="title">Home Informations</h1>
    <div class="columns">
        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Residents</strong> 
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Nurses </strong> 
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                      </p>
                    </div>
                    
                  </div>
                </article>
              </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Diseases</strong> 
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                      </p>
                    </div>
           
                  </div>
                </article>
              </div>
        </div>

    </div>
{% endblock %}